html {
    background-color: lightsteelblue;
}

.container {
    position: relative;
    width: 400px;
}

#display {
    width: 92%;
    height: 120px;
    border: 5px;
    border-radius: 10px;
    outline: none;
    border-color: #000000;
    font-size: 75px;
    font-family: monospace;
    background-color: #000000;
    color: white;
    text-align: right;
    margin: 10px;
    padding-right: 10px;
    text-align: right;
    text-indent: -9999px;
}

.calcKeys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}

#equals {
    height: 100%;
    grid-row: 4 / 6;
    grid-column: 4 / 5;
}

#numZero {
    width: 100%;
    grid-row: 5 / 6;
    grid-column: 1 / 3;
}

button {
    height: 70px;
    text-align: center;
    border-radius: 10px;
    border: 0px;
    outline: none;
    font-size: 30px;
    color: #000000;
    background-color: white;
    transition: 0.2s;
}

button:hover {
    background-color: lavenderblush;
}

button:active {
    background-color: gainsboro;
}